<table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Tytuł</th>
        <th>Rok</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies;">
        <!-- <th>{{movie.title}}</th> -->
        <th><input [(ngModel)]="movie.title"></th>
        <th>{{movie.year}}</th>
        <th>
          <button [routerLink]="[movie.id]" type="button"
                  class="btn btn-light">Opis</button>

          <button (click)="removeMovie(movie.title)" type="button" class="btn btn-dark">Usuń</button>
        </th>
      </tr>
      <tr>
        <th>
          <input [(ngModel)]="newMovieTitle">
        </th>
        <th>
          <input [(ngModel)]="newMovieYear">
        </th>
        <th>
          <button (click)="addMovie()" type="button" class="btn btn-dark">Dodaj</button>
        </th>
      </tr>
    </tbody>
  </table>
