<div>
  Id: {{movie.id}}
</div>
<div>
  Tytuł: {{movie.title}}
</div>
<div>
  Rok: {{movie.year}}
</div>
<div>
  Ocena: {{movie.rate}}
</div>

<button routerLink="/movies"
type="button"
class="btn btn-light">Wstecz</button>
